.title-small {
  font-weight: lighter;
  color: #495057;
}
.title {
  color: #212529;
  opacity: 0.8;
  font-size: 2rem;
  font-family: 'PT Sans Narrow', sans-serif;
  user-select: none;
  @apply flex-initial w-64;
}
.top-bar {
  background-color: #F8F9FA;
  padding: 0.5rem;
  border-bottom: 3px solid #E9ECEF;
  width: 100%;
  max-height: 100px;
  overflow: hidden;
  position: fixed;
  @apply flex flex-row;
}
.search {
  height: 100%;
  background-color: transparent;
  font-size: 1.9rem;
  border: none;
  font-family: 'Source Code Pro', sans-serif;
  outline: transparent;
  caret-color: #495057;
  @apply grow;
}
.snippet-list {
  padding-top: 75px;
  @apply flex flex-col;
}
.darkModeToggle {
  min-height: 100%;
  vertical-align: center;
  float: right;
  margin-left: auto;
  margin-right: 2%;
  @apply flex items-center;
}
.contribute {
  position: fixed;
  right: 10px;
  bottom: 10px;
  @apply flex flex-row items-center;
}
.contribute * {
  margin: 5px;
}
.contribute:hover {
  animation-duration: 0.5s;
  animation-name: shake;
}

@keyframes shake {
  30% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-2deg);
  }
}